# Paso 0 Conexion y Extraccion de Datos
importar librerias, crear conexion sqlalchemy, importar ficheros

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
engine = create_engine("postgresql+psycopg2://postgres:postgres@localhost:5432/dw_pisosmadrid")

In [2]:
try:
    with engine.connect() as connection:
        print("Conexión exitosa.")
        # Aquí puedes realizar operaciones con la base de datos
except Exception as e:
    print(f"Ocurrió un error al conectar a la base de datos: {e}")

Conexión exitosa.

In [3]:
# Importar de los listados

In [4]:
!ls ./

07-06-2022                  df_availability.xlsx
07-09-2023                  df_description.xlsx
07-12-2021                  df_host_details.xlsx
10-03-2022                  df_listings.xlsx
10-06-2023                  df_listings_cp.xlsx
10-09-2022                  df_neighbourhoods.xlsx
13-12-2022                  df_neighbourhoods_json.xlsx
15-03-2023                  df_property_details.xlsx
15-12-2023                  df_reviews_split.xlsx
Madrid.ipynb                test.xlsx
README.md                   ~$df_listings.xlsx
REPO_TFM                    ~$df_listings_cp.xlsx
df_aditional.xlsx           ~$df_property_details.xlsx

In [5]:
import os
import pandas as pd

# Specify the directory path
directory_path = '15-03-2023'

# List comprehension to get file information
file_info_list = [{'File': file, 'Size': os.path.getsize(os.path.join(directory_path, file))} for file in os.listdir(directory_path)]

# Create a DataFrame from the list using lambda
file_info_df = pd.DataFrame(file_info_list, columns=['File', 'Size'])

# Display the DataFrame
print(file_info_df)

                     File       Size
0         listings.csv.gz   13275641
1         calendar.csv.gz   23593053
2             reviews.csv   18633378
3  neighbourhoods.geojson     383969
4          reviews.csv.gz  101801200
5      neighbourhoods.csv       3004
6            listings.csv    3292528

In [6]:
df_listings_dtl = pd.read_csv('15-12-2023/listings.csv.gz',compression='gzip')
df_reviews_dtl = pd.read_csv('./15-12-2023/reviews.csv.gz', sep=',', header='infer')
df_calendar_dtl = pd.read_csv('15-12-2023/calendar.csv.gz',compression='gzip')

In [7]:
df_listings_s = pd.read_csv('15-12-2023/listings.csv', sep=',', header='infer')
df_neighbourhoods = pd.read_csv('./15-12-2023/neighbourhoods.csv', sep=',', header='infer')
df_reviews = pd.read_csv('./15-12-2023/reviews.csv', sep=',', header='infer')

In [8]:
df_neighbourhoods_json = pd.read_json('./15-12-2023/neighbourhoods.geojson')

In [9]:
df_listings_dtl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            25543 non-null  int64
 1   listing_url                                   25543 non-null  object
 2   scrape_id                                     25543 non-null  int64
 3   last_scraped                                  25543 non-null  object
 4   source                                        25543 non-null  object
 5   name                                          25543 non-null  object
 6   description                                   0 non-null      float64
 7   neighborhood_overview                         13137 non-null  object
 8   picture_url                                   25542 non-null  object
 9   host_id                                       25543 non-null  int64
 10  host_url                                      25543 non-null  object
 11  host_name                                     25532 non-null  object
 12  host_since                                    25532 non-null  object
 13  host_location                                 17786 non-null  object
 14  host_about                                    12219 non-null  object
 15  host_response_time                            20378 non-null  object
 16  host_response_rate                            20378 non-null  object
 17  host_acceptance_rate                          21463 non-null  object
 18  host_is_superhost                             25363 non-null  object
 19  host_thumbnail_url                            25532 non-null  object
 20  host_picture_url                              25532 non-null  object
 21  host_neighbourhood                            10331 non-null  object
 22  host_listings_count                           25532 non-null  float64
 23  host_total_listings_count                     25532 non-null  float64
 24  host_verifications                            25532 non-null  object
 25  host_has_profile_pic                          25532 non-null  object
 26  host_identity_verified                        25532 non-null  object
 27  neighbourhood                                 13137 non-null  object
 28  neighbourhood_cleansed                        25543 non-null  object
 29  neighbourhood_group_cleansed                  25543 non-null  object
 30  latitude                                      25543 non-null  float64
 31  longitude                                     25543 non-null  float64
 32  property_type                                 25543 non-null  object
 33  room_type                                     25543 non-null  object
 34  accommodates                                  25543 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                25528 non-null  object
 37  bedrooms                                      0 non-null      float64
 38  beds                                          25238 non-null  float64
 39  amenities                                     25543 non-null  object
 40  price                                         21734 non-null  object
 41  minimum_nights                                25543 non-null  int64
 42  maximum_nights                                25543 non-null  int64
 43  minimum_minimum_nights                        25543 non-null  int64
 44  maximum_minimum_nights                        25543 non-null  int64
 45  minimum_maximum_nights                        25543 non-null  int64
 46  maximum_maximum_nights                        25543 non-null  int64
 47  minimum_nights_avg_ntm                        25543 non-null  float64
 48  maximum_nights_avg_ntm                        25543 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              21734 non-null  object
 51  availability_30                               25543 non-null  int64
 52  availability_60                               25543 non-null  int64
 53  availability_90                               25543 non-null  int64
 54  availability_365                              25543 non-null  int64
 55  calendar_last_scraped                         25543 non-null  object
 56  number_of_reviews                             25543 non-null  int64
 57  number_of_reviews_ltm                         25543 non-null  int64
 58  number_of_reviews_l30d                        25543 non-null  int64
 59  first_review                                  20176 non-null  object
 60  last_review                                   20176 non-null  object
 61  review_scores_rating                          20216 non-null  float64
 62  review_scores_accuracy                        20213 non-null  float64
 63  review_scores_cleanliness                     20213 non-null  float64
 64  review_scores_checkin                         20214 non-null  float64
 65  review_scores_communication                   20215 non-null  float64
 66  review_scores_location                        20212 non-null  float64
 67  review_scores_value                           20211 non-null  float64
 68  license                                       2784 non-null   object
 69  instant_bookable                              25543 non-null  object
 70  calculated_host_listings_count                25543 non-null  int64
 71  calculated_host_listings_count_entire_homes   25543 non-null  int64
 72  calculated_host_listings_count_private_rooms  25543 non-null  int64
 73  calculated_host_listings_count_shared_rooms   25543 non-null  int64
 74  reviews_per_month                             20176 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 14.6+ MB

In [10]:
df_listings_dtl.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [11]:
df_reviews_dtl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095004 entries, 0 to 1095003
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   listing_id     1095004 non-null  int64
 1   id             1095004 non-null  int64
 2   date           1095004 non-null  object
 3   reviewer_id    1095004 non-null  int64
 4   reviewer_name  1095003 non-null  object
 5   comments       1094926 non-null  object
dtypes: int64(3), object(3)
memory usage: 50.1+ MB

In [12]:
df_reviews_dtl

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,6369,29428,2010-03-14,84790,Nancy,Simon and Arturo have the ultimate location in...
1,6369,31018,2010-03-23,84338,David,Myself and Kristy originally planned on stayin...
2,6369,34694,2010-04-10,98655,Marion,We had a great time at Arturo and Simon's ! A ...
3,6369,37146,2010-04-21,109871,Kurt,I very much enjoyed the stay. \r<br/>It's a w...
4,6369,38168,2010-04-26,98901,Dennis,Arturo and Simon are polite and friendly hosts...
...,...,...,...,...,...,...
1094999,1043852790935296891,1045490433378944761,2023-12-13,537669822,Laurent,"Todo excelente, la atención y el recibimiento ..."
1095000,1040671595055818173,1045545859004012163,2023-12-13,177607111,Josemari,Todo fenomenal
1095001,1040688722629771752,1044046849067891532,2023-12-11,278521838,David,Gostei muito do espaço! O quarto era perfeito ...
1095002,1044309816397067795,1046231944402612391,2023-12-14,145156213,Diego Jose,Un ambiente familiar muy ameno. Sin duda lo re...
1095003,1040688722629771752,1045593279720641286,2023-12-13,495388491,Pablo,Recomendable seguro

In [13]:
df_calendar_dtl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9325869 entries, 0 to 9325868
Data columns (total 7 columns):
 #   Column          Dtype
---  ------          -----
 0   listing_id      int64
 1   date            object
 2   available       object
 3   price           object
 4   adjusted_price  float64
 5   minimum_nights  float64
 6   maximum_nights  float64
dtypes: float64(3), int64(1), object(3)
memory usage: 498.1+ MB

In [14]:
df_listings_s.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              25543 non-null  int64
 1   name                            25543 non-null  object
 2   host_id                         25543 non-null  int64
 3   host_name                       25532 non-null  object
 4   neighbourhood_group             25543 non-null  object
 5   neighbourhood                   25543 non-null  object
 6   latitude                        25543 non-null  float64
 7   longitude                       25543 non-null  float64
 8   room_type                       25543 non-null  object
 9   price                           21734 non-null  float64
 10  minimum_nights                  25543 non-null  int64
 11  number_of_reviews               25543 non-null  int64
 12  last_review                     20176 non-null  object
 13  reviews_per_month               20176 non-null  float64
 14  calculated_host_listings_count  25543 non-null  int64
 15  availability_365                25543 non-null  int64
 16  number_of_reviews_ltm           25543 non-null  int64
 17  license                         2784 non-null   object
dtypes: float64(4), int64(7), object(7)
memory usage: 3.5+ MB

In [15]:
df_neighbourhoods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   neighbourhood_group  128 non-null    object
 1   neighbourhood        128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [16]:
df_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1095004 entries, 0 to 1095003
Data columns (total 2 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1095004 non-null  int64
 1   date        1095004 non-null  object
dtypes: int64(1), object(1)
memory usage: 16.7+ MB

In [17]:
df_neighbourhoods_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   type      128 non-null    object
 1   features  128 non-null    object
dtypes: object(2)
memory usage: 2.1+ KB

In [18]:
# determinamos que es la geometria del la zona
df_neighbourhoods_json.describe()

                     type                                           features
count                 128                                                128
unique                  1                                                128
top     FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
freq                  128                                                  1

In [19]:
# los valores únicos
pd.DataFrame({'listing_id': df_calendar_dtl['listing_id'].unique()})

                listing_id
0                     6369
1                    30320
2                    30959
3                    40718
4                    40916
...                    ...
25538  1046239141714406672
25539  1046255434342767173
25540                21853
25541                24805
25542                26825

[25543 rows x 1 columns]

In [20]:
df_calendar_dtl[df_calendar_dtl['listing_id']==6369]

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,6369,2023-12-15,f,$90.00,NaN,3.0,1125.0
1,6369,2023-12-16,f,$90.00,NaN,3.0,1125.0
2,6369,2023-12-17,f,$90.00,NaN,3.0,1125.0
3,6369,2023-12-18,t,$90.00,NaN,3.0,1125.0
4,6369,2023-12-19,t,$90.00,NaN,3.0,1125.0
...,...,...,...,...,...,...,...
360,6369,2024-12-09,f,$90.00,NaN,5.0,1125.0
361,6369,2024-12-10,f,$90.00,NaN,5.0,1125.0
362,6369,2024-12-11,f,$90.00,NaN,5.0,1125.0
363,6369,2024-12-12,f,$90.00,NaN,5.0,1125.0
364,6369,2024-12-13,f,$90.00,NaN,5.0,1125.0

# df_listings

## Paso 1: Analisis de Data Frames

In [21]:
df_listings_dtl.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [22]:
df_listings_dtl.head(3)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,6369,https://www.airbnb.com/rooms/6369,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 ...,NaN,NaN,https://a0.muscache.com/pictures/683224/4cc318...,13660,...,4.86,4.84,4.86,NaN,f,1,0,1,0,0.63
1,21853,https://www.airbnb.com/rooms/21853,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 ...,NaN,We live in a leafy neighbourhood with plenty o...,https://a0.muscache.com/pictures/68483181/87bc...,83531,...,4.82,4.21,4.67,NaN,f,2,0,2,0,0.30
2,24805,https://www.airbnb.com/rooms/24805,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1...,NaN,"The area is next to the Gran Via, so people li...",https://a0.muscache.com/pictures/miso/Hosting-...,346366726,...,4.97,5.00,4.76,NaN,f,1,1,0,0,0.30

In [23]:
# identifica y presenta Hosts con mayor cantidad de Pisos ordenados de mayor a menor
df_listings_dtl[df_listings_dtl.groupby(['host_id', 'host_name'])['host_id'].transform('count') > 1].groupby(['host_id', 'host_name']).size().reset_index(name='count_of_records').sort_values(by='count_of_records', ascending=False).head(20)

        host_id              host_name  count_of_records
2240  377605855              MIT House               291
2556  459532151           Selling Plus               269
2033  291253690           Fran Y Marta               247
2169  346367515                   Ukio               237
2894  518713670               Bemadrid               192
2418  434208714             Blueground               166
2635  471977881                Rodrigo               148
810    40877988                   Raul               116
1308  107335103         Amazinn Places               115
660    28038703  Luxury Rentals Madrid               101
1307  107141654                Leeways                97
2440  438136382              Home Club                90
1768  217067249                  Jorge                89
2561  460391145           Marta Y Fran                89
2266  391810099                  Diego                89
2466  444912851                   Duke                84
1786  220103569           MadreamsRent                83
669    28786243                 Emilio                75
51      1408525               Mad4Rent                73
340     9885245          My Mad Madrid                70

In [24]:
#df_listings_dtl.groupby('host_name').size().reset_index(name='count').sort_values(by='count',ascending=False)

In [25]:
pd.DataFrame(df_listings_dtl['room_type'].value_counts())

                 count
room_type
Entire home/apt  16337
Private room      8688
Shared room        408
Hotel room         110

## Paso 1.1: dataframe df_listing

In [26]:
listings_columns=['id','host_id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighbourhood_cleansed', 'neighborhood_overview', 'picture_url','latitude', 'longitude' ]
listings_columns_=['listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighbourhood_cleansed', 'neighborhood_overview', 'picture_url','latitude', 'longitude' ]

In [156]:
df_listings = df_listings_dtl[listings_columns].copy()

In [157]:
df_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      25543 non-null  int64
 1   host_id                 25543 non-null  int64
 2   listing_url             25543 non-null  object
 3   scrape_id               25543 non-null  int64
 4   last_scraped            25543 non-null  object
 5   source                  25543 non-null  object
 6   name                    25543 non-null  object
 7   description             0 non-null      float64
 8   neighbourhood_cleansed  25543 non-null  object
 9   neighborhood_overview   13137 non-null  object
 10  picture_url             25542 non-null  object
 11  latitude                25543 non-null  float64
 12  longitude               25543 non-null  float64
dtypes: float64(3), int64(3), object(7)
memory usage: 2.5+ MB

In [158]:
df_listings.columns

Index(['id', 'host_id', 'listing_url', 'scrape_id', 'last_scraped', 'source',
       'name', 'description', 'neighbourhood_cleansed',
       'neighborhood_overview', 'picture_url', 'latitude', 'longitude'],
      dtype='object')

In [159]:
df_listings.head(4)

,id,host_id,listing_url,scrape_id,last_scraped,source,name,description,neighbourhood_cleansed,neighborhood_overview,picture_url,latitude,longitude
0,6369,13660,https://www.airbnb.com/rooms/6369,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 bed · 1 private bath,NaN,Hispanoamérica,NaN,https://a0.muscache.com/pictures/683224/4cc318c4_original.jpg,40.45724,-3.67688
1,21853,83531,https://www.airbnb.com/rooms/21853,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 bed · 1 bath,NaN,Cármenes,"We live in a leafy neighbourhood with plenty of green areas and recreational opportunities such as the library, gyms, swimming pools (covered and summer ones), and the tennis courts. Parking is free outside and it is relatively easy to park near the flat.",https://a0.muscache.com/pictures/68483181/87bcac58_original.jpg,40.40381,-3.74130
2,24805,346366726,https://www.airbnb.com/rooms/24805,20231215032748,2023-12-15,city scrape,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1 bed · 1 bath,NaN,Universidad,"The area is next to the Gran Via, so people living in the area is mostly tourists. Being so well located, it is very interesting for short stays.",https://a0.muscache.com/pictures/miso/Hosting-24805/original/ceb32252-3c7b-4899-9b4a-db4a78d3e6f3.jpeg,40.42183,-3.70529
3,26825,114340,https://www.airbnb.com/rooms/26825,20231215032748,2023-12-15,city scrape,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1.5 baths,NaN,Legazpi,"Es un barrio muy tranquilo, en una zona de Madrid cerca del centro (15 minutos en Metro). Con bares, restaurantes y supermercados al lado. A cinco minutos del Matadero y Madrid Río y el Centro Comercial Plaza Río.",https://a0.muscache.com/pictures/149358/218d5b6b_original.jpg,40.38975,-3.69018

In [160]:
#se elimina columna 'description' ya que no tiene ningun valor
df_listings.drop(['description','neighborhood_overview','listing_url', 'scrape_id', 'last_scraped', 'source'], axis=1, inplace=True)

In [161]:
# Visualizacion de la informacion contenida en la Columna Name
pd.set_option('display.max_colwidth', None)
df_listings['name']

0        Rental unit in Madrid · ★4.88 · 1 bedroom · 1 bed · 1 private bath
1                Rental unit in Madrid · ★4.58 · 1 bedroom · 1 bed · 1 bath
2               Rental unit in Madrid · ★4.91 · 6 bedrooms · 1 bed · 1 bath
3                    Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1.5 baths
4               Rental unit in Madrid · ★4.63 · 1 bedroom · 2 beds · 1 bath
                                        ...
25538          Rental unit in Madrid · ★New · 2 bedrooms · 3 beds · 2 baths
25539          Rental unit in Madrid · ★New · 4 bedrooms · 4 beds · 3 baths
25540          Rental unit in Madrid · ★New · 4 bedrooms · 5 beds · 2 baths
25541          Rental unit in Madrid · ★New · 2 bedrooms · 3 beds · 2 baths
25542             Rental unit in Madrid · ★New · 1 bedroom · 1 bed · 1 bath
Name: name, Length: 25543, dtype: object

In [162]:
# Hacer el split de la columna ['name'] en las columnas ['property', 'rating', 'bedroom', 'beds', 'bathroom']
df_listings[['property_ty', 'rating', 'bedroom','beds', 'bathroom']] = df_listings['name'].str.split(' · ', expand=True)
df_listings.head(4)

,id,host_id,name,neighbourhood_cleansed,picture_url,latitude,longitude,property_ty,rating,bedroom,beds,bathroom
0,6369,13660,Rental unit in Madrid · ★4.88 · 1 bedroom · 1 bed · 1 private bath,Hispanoamérica,https://a0.muscache.com/pictures/683224/4cc318c4_original.jpg,40.45724,-3.67688,Rental unit in Madrid,★4.88,1 bedroom,1 bed,1 private bath
1,21853,83531,Rental unit in Madrid · ★4.58 · 1 bedroom · 1 bed · 1 bath,Cármenes,https://a0.muscache.com/pictures/68483181/87bcac58_original.jpg,40.40381,-3.74130,Rental unit in Madrid,★4.58,1 bedroom,1 bed,1 bath
2,24805,346366726,Rental unit in Madrid · ★4.91 · 6 bedrooms · 1 bed · 1 bath,Universidad,https://a0.muscache.com/pictures/miso/Hosting-24805/original/ceb32252-3c7b-4899-9b4a-db4a78d3e6f3.jpeg,40.42183,-3.70529,Rental unit in Madrid,★4.91,6 bedrooms,1 bed,1 bath
3,26825,114340,Home in Madrid · ★4.72 · 1 bedroom · 1 bed · 1.5 baths,Legazpi,https://a0.muscache.com/pictures/149358/218d5b6b_original.jpg,40.38975,-3.69018,Home in Madrid,★4.72,1 bedroom,1 bed,1.5 baths

In [178]:
pd.DataFrame(df_listings['bathroom'].agg({
    'Nulos': lambda x: x.isnull().sum(),
    'Contiene bath': lambda x: x.str.contains('bath').sum(),
    'Contiene bed': lambda x: x.str.contains('bed').sum()
}))

               bathroom
Nulos                 0
Contiene bath     25543
Contiene bed          0

In [173]:
pd.DataFrame(df_listings['beds'].agg({
    'Nulos': lambda x: x.isnull().sum(),
    'Contiene bath': lambda x: x.str.contains('bath').sum(),
    'Contiene bed': lambda x: x.str.contains('bed').sum()
}))

                beds
Nulos              0
Contiene bath      0
Contiene bed   25543

In [174]:
pd.DataFrame(df_listings['bedroom'].agg({
    'Nulos': lambda x: x.isnull().sum(),
    'Contiene bath': lambda x: x.str.contains('bath').sum(),
    'Contiene bed': lambda x: x.str.contains('bed').sum(),
    'No Contiene bedroom': lambda x: x.str.contains('bedroom').sum() or x.str.contains('studio').sum()
}))

                     bedroom
Nulos                      0
Contiene bath              0
Contiene bed           23818
No Contiene bedroom    23818

In [168]:
pd.DataFrame(df_listings['rating'].agg({
    'Nulos': lambda x: x.isnull().sum(),
    'Contiene bath': lambda x: x.str.contains('bath').sum(),
    'Contiene bed': lambda x: x.str.contains('bed').sum(),
    'No Estrella': lambda x: (~x.astype(str).str.contains('★')).sum()
}))

               rating
Nulos               0
Contiene bath       0
Contiene bed        0
No Estrella         0

In [177]:
import pandas as pd

def process_rating_column(row):
    #evaluar la columna rating
    if row['rating'] is not None and '★' not in row['rating']:
        temp_list = [row['rating'], row['bedroom'], row['beds'], row['bathroom']]
        for item in temp_list:
            if item is not None:
                if 'bath' in item:
                    row['bathroom'] = item
                elif 'bed' in item.lower() and 'bedroom' not in item.lower():
                    row['beds'] = item
                elif 'bedroom' in item.lower() or 'studio' in item.lower():
                    row['bedroom'] = item
        row['rating'] = '★New '
    elif pd.isna(row['rating']):
        row['rating'] = '★New '
    #evaluar la columna bedroom        
    elif row['bedroom'] is not None and 'bedroom' not in row['bedroom'].lower() and 'studio' not in row['bedroom'].lower():
        temp_list = [row['bedroom'], row['beds'], row['bathroom']]
        for item in temp_list:
            if item is not None:
                if 'bath' in item.lower():
                    row['bathroom'] = item
                    row['bedroom'] = '0 bedroom'
                elif 'bed' in item.lower() and 'bedroom' not in item.lower():
                    row['beds'] = item
                elif pd.isna(row['bedroom']):
                    row['bedroom'] = '0 bedroom' 
    #evaluar la columna bed        
    elif row['beds'] is None or 'bath' in str(row['beds']).lower():
        temp_list = [row['beds'], row['bathroom']]
        for item in temp_list:
            if item is not None and 'bath' in str(item).lower():
                row['bathroom'] = item
                row['beds'] = '0 beds'
            elif item is None:
                row['beds'] = '0 beds'
                
    elif row['bathroom'] is None:
        row['bathroom'] = '0 bathroom'


    return row

# Aplicar la función a cada fila del DataFrame
df_listings = df_listings.apply(process_rating_column, axis=1)

# Ahora df_listings tiene las columnas 'bedroom', 'beds' y 'bathroom' actualizadas según las condiciones especificadas

In [726]:
def update_rating(row):
    if '★' not in row['rating'] or pd.isna(row['rating']):
        row['rating'] = '★New '
    return row

# Apply the custom function to update columns
df_listings = df_listings.apply(update_rating, axis=1)

In [117]:
df_listings.name = 'df_listings'
df_listings.to_excel('df_listings.xlsx')
print("Saved df_listings to df_listings.xlsx")

Saved df_listings to df_listings.xlsx

In [179]:
# Eliminar la columna original 'name'
df_listings = df_listings.drop('name', axis=1)

In [181]:
df_listings = df_listings[['id','host_id','property_ty','rating','bedroom','beds','bathroom','neighbourhood_cleansed','picture_url','latitude','longitude']]
df_listings.head(10)

,id,host_id,property_ty,rating,bedroom,beds,bathroom,neighbourhood_cleansed,picture_url,latitude,longitude
0,6369,13660,Rental unit in Madrid,★4.88,1 bedroom,1 bed,1 private bath,Hispanoamérica,https://a0.muscache.com/pictures/683224/4cc318c4_original.jpg,40.45724,-3.67688
1,21853,83531,Rental unit in Madrid,★4.58,1 bedroom,1 bed,1 bath,Cármenes,https://a0.muscache.com/pictures/68483181/87bcac58_original.jpg,40.40381,-3.74130
2,24805,346366726,Rental unit in Madrid,★4.91,6 bedrooms,1 bed,1 bath,Universidad,https://a0.muscache.com/pictures/miso/Hosting-24805/original/ceb32252-3c7b-4899-9b4a-db4a78d3e6f3.jpeg,40.42183,-3.70529
3,26825,114340,Home in Madrid,★4.72,1 bedroom,1 bed,1.5 baths,Legazpi,https://a0.muscache.com/pictures/149358/218d5b6b_original.jpg,40.38975,-3.69018
4,30320,130907,Rental unit in Madrid,★4.63,1 bedroom,2 beds,1 bath,Sol,https://a0.muscache.com/pictures/336868/f67409fb_original.jpg,40.41476,-3.70418
5,30959,132883,Loft in Madrid,★4.38,1 bedroom,1 bed,1 bath,Embajadores,https://a0.muscache.com/pictures/78173471/835e5c34_original.jpg,40.41259,-3.70105
6,336834,1713427,Rental unit in Madrid,★4.63,2 bedrooms,3 beds,1 bath,Justicia,https://a0.muscache.com/pictures/miso/Hosting-336834/original/703aa113-7916-41d2-a3a8-d1c589b44c77.jpeg,40.42242,-3.69562
7,339144,1721158,Rental unit in Madrid,★4.89,1 bedroom,2 beds,1 bath,Universidad,https://a0.muscache.com/pictures/ee098f1f-df63-4a8a-81e8-55054d3f9002.jpg,40.42838,-3.70345
8,40718,34217435,Rental unit in Madrid,★4.61,1 bedroom,2 beds,1 bath,Justicia,https://a0.muscache.com/pictures/99a841d9-e992-44a4-a9e0-f5467c96adeb.jpg,40.41969,-3.69736
9,339171,1722284,Rental unit in Madrid,★4.88,1 bedroom,2 beds,1 bath,Cortes,https://a0.muscache.com/pictures/eb76712a-b1b1-4504-b600-07c1693dd313.jpg,40.41285,-3.69553

In [135]:
# se convierte la columna 'last_scraped' al formato de fecha y hora
#df_listings['last_scraped'] = pd.to_datetime(df_listings['last_scraped'], format='%Y-%m-%d', errors='coerce')

In [136]:
#df_listings['neighborhood_overview'].fillna("No_information", inplace=True)
#df_listings['picture_url'].fillna("No_information", inplace=True)

In [137]:
# comprobar los caracteres no permitidos
import re

# Define a regular expression for matching non-printable ASCII characters
ILLEGAL_CHARACTERS_RE = re.compile('[\x00-\x1F\x7F-\x9F]')

# Iterate through each column in the DataFrame
for column in df_listings.columns:
    # Iterate through each row in the column
    for index, value in df_listings[column].items():
        # Check if the value contains any illegal characters
        if re.search(ILLEGAL_CHARACTERS_RE, str(value)):
            print(f"Illegal character found in column '{column}' at index {index}: {value}")

In [ ]:
#import re
#df_listings['neighborhood_overview'] = df_listings['neighborhood_overview'].astype('str')
#df_listings['neighborhood_overview'] = df_listings['neighborhood_overview'].apply(lambda x: re.sub(r'[\x00-\x08\x0B-\x1F\x7F-\x9F]', '', x))

## Paso 1.2: dataframe df_host_details

In [ ]:
host_columns=['host_id','host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified']
host_columns_=['host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified']

In [ ]:
df_host_details = df_listings_dtl[host_columns].copy()

In [ ]:
df_host_details.info()

In [ ]:
df_host_details.nunique()

In [ ]:
#df_listings_dtl.drop(host_columns_, axis=1, inplace=True)

## Paso 1.3: comparacion de neighbourhood AND df_listings_dtl.neighbourhood

In [ ]:
neighbourhood_columns=['id','neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed']
neighbourhood_columns_=['neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed']

In [ ]:
df_listings_dtl[neighbourhood_columns_]

In [ ]:
df_neighbourhoods

In [ ]:
pd.DataFrame(df_host_details[['host_id','host_name']].value_counts())

In [ ]:
pd.DataFrame(df_host_details[['host_id','host_name']].value_counts()).to_excel("test.xlsx", index_label='host')

In [ ]:
#df_listings_dtl.drop(neighbourhood_columns_, axis=1, inplace=True)

## Paso 1.4: dataframe df_property_details

In [220]:
property_columns=['id', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities']
property_columns_=[ 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities']

In [221]:
df_property_details = df_listings_dtl[property_columns].copy()

In [222]:
df_property_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25543 entries, 0 to 25542
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              25543 non-null  int64
 1   property_type   25543 non-null  object
 2   room_type       25543 non-null  object
 3   accommodates    25543 non-null  int64
 4   bathrooms       0 non-null      float64
 5   bathrooms_text  25528 non-null  object
 6   bedrooms        0 non-null      float64
 7   beds            25238 non-null  float64
 8   amenities       25543 non-null  object
dtypes: float64(3), int64(2), object(4)
memory usage: 1.8+ MB

In [223]:
df_property_details

,id,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities
0,6369,Private room in rental unit,Private room,2,NaN,1 private bath,NaN,1.0,[]
1,21853,Private room in rental unit,Private room,1,NaN,1 bath,NaN,1.0,[]
2,24805,Entire rental unit,Entire home/apt,3,NaN,1 bath,NaN,1.0,[]
3,26825,Private room in home,Private room,1,NaN,1.5 baths,NaN,1.0,[]
4,30320,Entire rental unit,Entire home/apt,2,NaN,1 bath,NaN,2.0,[]
...,...,...,...,...,...,...,...,...,...
25538,1045513235996315049,Entire rental unit,Entire home/apt,6,NaN,2 baths,NaN,3.0,[]
25539,1045517912453641702,Entire rental unit,Entire home/apt,8,NaN,3 baths,NaN,4.0,[]
25540,1045518757044319450,Entire rental unit,Entire home/apt,9,NaN,2 baths,NaN,5.0,[]
25541,1045519103468143325,Entire rental unit,Entire home/apt,4,NaN,2 baths,NaN,3.0,[]
25542,1045519419976898566,Entire rental unit,Entire home/apt,2,NaN,1 bath,NaN,1.0,[]

In [ ]:
#df_listings_dtl.drop(property_columns_, axis=1, inplace=True)

## Paso 1.4.1: dataframe df_description and compare VS df_floor_deatils

In [ ]:
# Visualizacion de la informacion contenida en la Columna Name
pd.set_option('display.max_colwidth', None)
df_listings_dtl['name']

In [ ]:
# Copiar columnas ['id'] y ['name'] en un nuevo dataframe
df_description=df_listings_dtl[['id', 'name','room_type']].copy()
# Hacer el split de la columna ['name'] en las columnas ['property', 'rating', 'bedroom', 'beds', 'bathroom']
df_description[['property_ty', 'rating', 'bedroom','beds', 'bathroom']] = df_description['name'].str.split(' · ', expand=True)
# Eliminar la columna original 'name'
df_description = df_description.drop('name', axis=1)
df_description#.head(10)

## Paso 1.5: dataframe df_availability

In [ ]:
availability_columns=['id','price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped']
availability_columns_=['minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped']

In [ ]:
df_availability = df_listings_dtl[availability_columns].copy()
df_availability.info()

In [ ]:
#df_listings_dtl.drop(availability_columns_, axis=1, inplace=True)

## Paso 1.6: Dataframe df_reviews_split

In [ ]:
reviews_split_columns=['id','number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','reviews_per_month']
reviews_split_columns_=['number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value','reviews_per_month']

In [ ]:
df_reviews_split = df_listings_dtl[reviews_split_columns].copy()

In [ ]:
df_reviews_split.info()

In [ ]:
#df_listings_dtl.drop(reviews_split_columns_, axis=1, inplace=True)

## Paso 1.7 aditional information df_aditional_info

In [ ]:
aditional_columns=['id','license','instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms']
aditional_columns_=['license','instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms']

In [ ]:
df_aditional=df_listings_dtl[aditional_columns].copy()
df_aditional

In [ ]:
df_aditional.info()

## Paso 1.8 Extraer Excels

In [ ]:
all_variables = %who_ls

# Filter variables that are dataframes
dataframes = [var for var in all_variables if isinstance(eval(var), pd.DataFrame)]

# Display only the names of the dataframes
for dataframe in dataframes:
    print(f"DataFrame: {dataframe}")

In [ ]:
# Assuming the dataframes are already defined in your environment
# If not, make sure they are loaded or defined before running this script

df_aditional.name = 'df_aditional'
df_availability.name = 'df_availability'
df_calendar_dtl.name = 'df_calendar_dtl'
df_description.name = 'df_description'
df_host_details.name = 'df_host_details'
df_listings.name = 'df_listings'
df_neighbourhoods.name = 'df_neighbourhoods'
df_neighbourhoods_json.name = 'df_neighbourhoods_json'
df_property_details.name = 'df_property_details'
df_reviews_dtl.name = 'df_reviews_dtl'
df_reviews_split.name = 'df_reviews_split'

In [ ]:
dataframes_to_save = [
    df_aditional,
    df_availability,
#    df_calendar_dtl,
    df_description,
    df_host_details,
    df_listings,
    df_neighbourhoods,
    df_neighbourhoods_json,
    df_property_details,
#    df_reviews_dtl,
    df_reviews_split,
]

for dataframe in dataframes_to_save:
    filename = f"{dataframe.name}.xlsx"  # Using dataframes 'name' attribute
    pd.DataFrame(dataframe).to_excel(filename)
    print(f"Saved {dataframe.name} to {filename}")

In [271]:
df_listings.name = 'df_listings'
df_listings.to_excel('df_listings.xlsx')
print("Saved df_listings to df_listings.xlsx")

Saved df_listings to df_listings.xlsx

## Paso 3: eliminar nulos

In [ ]:
df_listings.isnull().sum()

In [ ]:
df_listings1 = df_listings.copy()

In [ ]:
df_listings1.isnull().sum()

### Eliminar nulos en la columna price

In [ ]:
df_listings.groupby(['room_type']).agg({'price': ['mean', 'count','sum']})

In [ ]:
df_listings.groupby(['neighbourhood']).agg({'price': ['mean', 'count','sum']})

In [ ]:
# vamos a reemplazar los nulos de la columna price usando el promedio agrupado por ['neighbourhood'y 'room_type']
df_listings.groupby(['neighbourhood', 'room_type']).agg({'price': ['mean', 'count','sum']})

In [ ]:
df_listings1['price_missing'] = df_listings1['price'].isnull().astype(int)

In [ ]:
df_listings1[df_listings1['price_missing'] == 1]

In [ ]:
# Calcula el promedio de 'price' por 'neighbourhood' y 'room_type'
average_prices = df_listings1.groupby(['neighbourhood', 'room_type'])['price'].transform('mean')

# Agrega la columna de promedios al DataFrame original
df_listings1['average_price'] = average_prices

# Reemplaza los valores nulos en 'price' con los valores de 'average_price'
df_listings1['price'].fillna(df_listings1['average_price'], inplace=True)

# Elimina la columna 'average_price' si ya no la necesitas
df_listings1.drop('average_price', axis=1, inplace=True)

In [ ]:
# Calcula el promedio de 'price' por 'neighbourhood' y 'room_type'
average_prices2 = df_listings1.groupby(['neighbourhood'])['price'].transform('mean')

# Agrega la columna de promedios al DataFrame original
df_listings1['average_price2'] = average_prices2

# Reemplaza los valores nulos en 'price' con los valores de 'average_price'
df_listings1['price'].fillna(df_listings1['average_price2'], inplace=True)

# Elimina la columna 'average_price'
df_listings1.drop('average_price2', axis=1, inplace=True)

### Eliminar nulos en la columna host_name

In [ ]:
df_listings1['host_name'].fillna('Desconocido',inplace=True)

In [ ]:
df_listings1[df_listings1['host_name']=='Desconocido']

In [ ]:
#df_listings1.drop('price_missing', axis=1, inplace=True)

### Eliminar nulos en la columna last_review, reviews_per_month, license

In [ ]:
df_listings2 = df_listings1.copy()

# Paso 10 exportar a sql

In [ ]:
df_reviews.to_sql('t_231215_reviews', engine, if_exists = 'replace', index=False)

In [ ]:
df_neighbourhoods.to_sql('t_231215_neighbourhoods', engine, if_exists = 'replace', index=False)

In [ ]:
df_listings1.to_sql('t_231215_listings', engine, if_exists = 'replace', index=False)

In [ ]:
df_location.to_sql('t_231215_location', engine, if_exists = 'replace', index=False)

In [ ]:
df_description.to_sql('t_231215_description', engine, if_exists = 'replace', index=False)

In [ ]:
pd.read_sql_query("SELECT column_name, data_type, character_maximum_length, is_nullable, column_default \
    FROM information_schema.columns WHERE table_name = 't_231215_listings';",engine)

In [ ]:
pd.read_sql_query("SELECT column_name, data_type, character_maximum_length, is_nullable, column_default \
    FROM information_schema.columns WHERE table_name = 't_231215_reviews';",engine)

In [ ]:
pd.read_sql_query("SELECT column_name, data_type, character_maximum_length, is_nullable, column_default \
    FROM information_schema.columns WHERE table_name = 't_231215_neighbourhoods';",engine)

In [ ]:
pd.read_sql_query("SELECT column_name, data_type, character_maximum_length, is_nullable, column_default \
    FROM information_schema.columns WHERE table_name = 't_231215_location';",engine)

In [ ]:
pd.read_sql_query("SELECT column_name, data_type, character_maximum_length, is_nullable, column_default \
    FROM information_schema.columns WHERE table_name = 't_231215_description';",engine)